@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.main__container {
  background-color: #fbfbfe;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
p {
  font-size: 1rem;
  font-weight: 400;
   margin-bottom: 1.5rem;
}
h1,
h2 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: 400;
   margin-bottom: 1.5rem;
}
.section {
  padding-top: 8rem;
}

/* Navbar */
.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #fbfbfe;
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav__logo {
  color: #242329;
  font-weight: 500;
}

.nav__logo:hover {
  color: #013750;
}

.nav__menu__list {
  display: flex;
  column-gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.813rem;
  color: #242329;
  font-weight: 500;
}

.nav__link:hover {
  color: #013750;
}

.nav__bar {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger .line {
  width: 35px;
  height: 3px;
  border-radius: 2px;
  background-color: #242329;
  display: block;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger {
  transition: all 0.3s ease-in-out;
}

#hamburger.is-active {
  animation: smallbig 0.6s forwards;
}

@keyframes smallbig {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }
}

#hamburger.is-active .line:nth-child(1),
#hamburger.is-active .line:nth-child(2),
#hamburger.is-active .line:nth-child(3) {
  transition-delay: 0.2s;
}

#hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger.is-active .line:nth-child(1) {
  width: 25px;
  transform: translateY(10px) rotate(45deg);
}

#hamburger.is-active .line:nth-child(3) {
  width: 25px;
  transform: translateY(-6.5px) rotate(-45deg);
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #013750;
}

.nav__close:hover {
  color: #1a0390;
}

/* Home Section */

.home__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem;
} 

.home__container__content {
  align-self: center;
}

.social-icons {
    margin-top: 4rem;
    display: flex;
}

.social-icons a {
  font-size: 1.5rem;
  color: #242329;
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  margin-right:2rem;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
}

.social-icons a:hover {
  background-color: #3e3d42;
  color: #ffffff;
}

.home__image {
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.img__home_image {
    border-radius: 10%;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.08);
}

.item__img  {
  padding: 1rem;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
}
.item__img:hover {
  transform: scale(1.01);
}

/* menu section */
.menu__title {
  width: 100%;
  text-align: center;
}
.menu__title p {
  width: 45%;
  margin: 0 auto;
}
.menu__items {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  
  
}
.menu__items .item {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
   border-radius: 3rem;
   position: relative;
   overflow: hidden;
   
   
   


}
.menu__items .item img {
  border-radius: 3rem;
}


.item_addition {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: #ffffff;
  border-radius: 3rem;
  transition: all 1.5s ease-in-out;

}

.item_addition_wrapper {
  position: relative;
}

.item_addition_wrapper .uil-times-circle {
  position: absolute;
  right: 2rem;
  top: -0.5rem;
  font-size: 1.5rem;
}

.plus__wrapper {
  position: absolute;
  background-color: rgb(241, 239, 239);
  border-radius: 40px;
  
  right: 2rem;
  bottom: 0.2rem;
  width: 8rem;
  height: 3rem;
 
}

.plus__wrapper__content {
  position: relative;
}

.plus__wrapper__content .uil-plus-circle {
  display: block;
  position: absolute;
  font-size: 3rem;
  line-height: 3rem;
  right: 0;
  color: #dddada;
  background-color: #4d4d4e;
  border-radius: 0 40px 40px 0;
}


.select__size {
  margin-top: 2rem;
  margin-left: 2rem;
}

.sizes {
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  
}

.sizes img:nth-child(1) {
  width: 3rem;
  height: 3rem;
  
}
.sizes img:nth-child(2) {
  width: 4rem;
  height: 4rem;
  
}
.sizes img:nth-child(3) {
  width: 5rem;
  
}

.radios {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
 
  margin-top: 1rem;
}

.toppings, .sauce {
  margin-top: 2rem;
  margin-left: 2rem;
}











.item-content {
  padding: 1.5rem 2rem;
  height: 18rem;
  position: relative;
}

.item-content h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 400;
  
}
.item-content .price {
  font-size: 1rem;
  font-weight:500;
}


.cart-btn {
  display: inline-block;
  position: absolute;
  color: #616060;
  background-color: #ebebeb;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}
.cart-btn:hover {
 background-color: #3e3d42;
  color: #ffffff;
}

.about__content,
.service__content,
.getapp__content {
  padding: 1rem;
}

.getapp__content i {
  font-size:3rem;
  margin-right: 2rem;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  background-color: #ebebeb;
  border-radius: 30px;
}

.about__content__wrapper,
.service__content__wrapper,
.getapp__content__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem;
} 

.content__image img,
.service__image img {
    border-radius: 10%;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.08);
}





@media screen and (max-width: 767px) {
  .navigation__menu {
    position: fixed;
    width: 100%;
    left: -100%;
    background-color: #fbfbfe;
    padding: 2rem 1.5rem 2rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 1.5rem 1.5rem;
    transition: 0.3s;
    top: 3rem;
  }

  /* show menu */
  .show-menu {
    left: 0;
  }

  .nav__menu__list {
    flex-direction: column;
  }

  .nav__link {
    padding: 1rem;
  }

  .nav__bar {
    display: block;
  }

  .home__container {
  grid-template-columns: 1fr;
  padding: 2rem;
}
.social-icons {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.menu__title p {
  width: 80%;
  margin: 0 auto;
}
.menu__items {
  grid-template-columns: 1fr;
  padding: 2rem;
}

.about__content__wrapper,
.service__content__wrapper {
  grid-template-columns:1fr;
  padding: 2rem;
} 

}
